.DS_Store
.dart_tool/

.packages
.pub/
.idea

build/
pubspec.lock
.flutter-plugins
flutter
IDEWorkspaceChecks.plist
org.eclipse.buildship.core.prefs
Breakpoints_v2.xcbkptlist
flutter_boost2
example/android/app/.classpath
example/android/app/.project
example/android/.project
flutter_boost
.flutter-plugins-dependencies

# ohos
example/ohos/entry/libs/
example/ohos/entry/har/
example/ohos/har/
example/ohos/node_modules
example/ohos/oh_modules
example/ohos/.idea
example/ohos/build
example/ohos/.hvigor
example/ohos/.cxx
example/ohos/.clangd
example/ohos/.clang-format
example/ohos/.clang-tidy
example/ohos**/.test

ohos/entry/libs/
ohos/entry/har/
ohos/har/
ohos/node_modules
ohos/oh_modules
ohos/.idea
ohos/build
ohos/.hvigor
ohos/.cxx
ohos/.clangd
ohos/.clang-format
ohos/.clang-tidy
ohos**/.test