.DS_Store
.dart_tool/

.packages
.pub/
.idea

build/
pubspec.lock
.flutter-plugins
flutter
IDEWorkspaceChecks.plist
org.eclipse.buildship.core.prefs
Breakpoints_v2.xcbkptlist
flutter_boost2
example/android/app/.classpath
example/android/app/.project
example/android/.project
flutter_boost
.flutter-plugins-dependencies
