/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
entry/libs/arm64-v8a/libapp.so
entry/libs/arm64-v8a/libflutter.so
entry/src/main/resources/rawfile/flutter_assets/
har/flutter_embedding.har
