<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.taobao.idlefish.flutterboost">
    <application
        android:allowBackup="false">
        <activity
            android:name="com.taobao.idlefish.flutterboost.BoostFlutterActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>
